*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  margin: 0;
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: "EB Garamond", serif, sans-serif;
  line-height: 1.5; }

.container {
  display: grid;
  grid-template-rows: 35rem 7rem 20rem 50rem;
  grid-template-columns: 5rem repeat(9, 1fr) 10rem; }

.image {
  height: 2.25rem;
  width: 5rem;
  fill: var(--color-grey); }

.about {
  grid-column: 1 /span 3;
  grid-row: 2 / span 5;
  padding-left: 5rem;
  border-right: 1px solid #D3D3D3; }
  .about__family--heading, .about__me--heading {
    margin-top: 7rem;
    font-size: 2rem;
    color: #000;
    text-transform: uppercase;
    border-bottom: 1px solid #D3D3D3; }
  .about__family--text, .about__me--text {
    text-transform: uppercase;
    margin-top: 2rem;
    font-size: 1.5rem;
    color: #808080; }
  .about__family--info, .about__me--info {
    font-size: 2rem;
    color: #000; }
  .about__image--photo {
    margin-top: 1rem;
    width: 7rem;
    display: inline-block;
    border-radius: 50%;
    padding: 3px; }

.header {
  font-size: 2rem;
  font-weight: 400;
  height: 10rem;
  width: 100%; }

.text {
  font-weight: 900;
  margin-top: 2rem;
  padding-left: 3rem; }

.span-1 {
  margin-left: 8rem;
  display: block; }

.span--2 {
  color: lightpink; }

.span--1 {
  color: grey; }

.span--3 {
  color: black;
  font-family: cursive;
  font-weight: 600;
  font-style: italic; }

.bio {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("../img/background-2.jpg");
  background-size: cover;
  background-position: center;
  grid-column: 1 / -1;
  margin: 2rem;
  color: #fff;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem; }
  .bio__note {
    border-bottom: 2px solid #808080; }
  .bio__span {
    margin-top: 1rem;
    font-size: 2rem; }
    .bio__span--img {
      padding-left: 1rem; }
    .bio__span--1 {
      margin-left: 2rem;
      display: inline; }
    .bio__span--2 {
      margin-left: 1rem; }
  .bio__search {
    margin-top: 1rem;
    display: inline-block;
    margin-left: 40rem;
    margin-bottom: 25px; }
    .bio__search-text {
      background-color: transparent;
      color: #fff;
      text-align: center;
      height: 4rem;
      border-radius: 0.6rem; }
      .bio__search-text--1 {
        width: 10rem;
        margin-left: 25rem; }
      .bio__search-text--2 {
        width: 25rem; }
  .bio__profile {
    display: flex; }
    .bio__profile--image {
      width: 22rem;
      height: 22rem;
      margin-top: 6rem;
      margin-left: 5rem;
      border-radius: 15px;
      transform: scale(1.1); }
  .bio__details {
    margin: 6rem 3rem;
    color: #fff;
    line-height: 3rem;
    font-size: 1.5rem; }
    .bio__details h1 {
      font-weight: 400; }
    .bio__details--text {
      font-size: 1rem;
      font-weight: 300;
      color: #D3D3D3; }

.activity {
  background-color: #fff;
  grid-column: 9 / -1;
  grid-row: 4 / -1;
  padding: 2rem;
  height: 45rem;
  width: 34.2rem;
  overflow: hidden;
  box-shadow: 0px 0px 62px -22px rgba(0, 0, 0, 0.3); }
  .activity--heading {
    color: #808080;
    border-bottom: 2px solid #D3D3D3;
    text-transform: uppercase;
    margin-top: 1rem; }
  .activity__list--innerHeading {
    margin-top: 2rem;
    font-size: 2rem; }
  .activity__list--text {
    font-size: 1.5rem;
    color: #808080; }

.boxes {
  grid-column: 4 / -1;
  column-gap: 1rem;
  display: flex;
  justify-content: space-around;
  margin: 2rem;
  height: 15rem; }
  .boxes__box {
    width: 30%;
    background-color: #fff;
    display: flex;
    padding-left: 5rem;
    padding-top: 2rem;
    box-shadow: 0px 0px 62px -22px rgba(0, 0, 0, 0.3); }
    .boxes__box--icon {
      height: 10rem;
      width: 10rem;
      fill: #c69f26;
      margin-left: -2rem; }
    .boxes__box--image {
      width: 10rem;
      margin-top: 2rem; }
    .boxes__box__payDet {
      border-left: 0.1rem dashed red;
      padding-left: 1rem; }
      .boxes__box__payDet--heading {
        font-size: 2rem;
        color: #808080;
        font-weight: 500;
        text-transform: uppercase; }
      .boxes__box__payDet--text {
        color: #000;
        font-size: 3.5rem;
        font-weight: 600; }
      .boxes__box__payDet--date {
        color: #808080;
        font-size: 2rem;
        font-weight: 400; }

.meanus {
  grid-row: 2 / 2;
  grid-column: 4/-1;
  border-bottom: 1px solid #D3D3D3; }
  .meanus__meanu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 1rem 3rem 0 2rem;
    font-size: 2rem;
    font-weight: 600;
    align-content: center; }
    .meanus__meanu--img {
      height: 1.4rem;
      width: 2rem;
      fill: #c69f26; }

.main-content {
  grid-column: 4 / 9;
  grid-row: 4 / 4;
  margin-left: 5rem;
  margin-right: 5rem; }
  .main-content__contribution {
    display: flex;
    height: 15rem;
    background-color: #fff;
    padding: 2rem;
    box-shadow: 0px 0px 62px -22px rgba(0, 0, 0, 0.3);
    align-content: center;
    justify-content: center; }
    .main-content__contribution--money {
      background-color: #e2faff;
      width: 20rem;
      font-size: 5.5rem; }
      .main-content__contribution--money p {
        text-align: center;
        margin-top: 1.2rem;
        margin-bottom: 1.2rem; }
    .main-content__contribution__Status {
      width: 100%;
      padding-left: 2rem; }
      .main-content__contribution__Status--heading {
        font-size: 3rem;
        font-weight: 200; }
      .main-content__contribution__Status--status {
        color: #D3D3D3;
        font-size: 1.5rem; }
        .main-content__contribution__Status--status-img {
          height: 1.2rem;
          width: 1.2rem; }
        .main-content__contribution__Status--status span {
          color: #808080; }
  .main-content__others--title {
    margin-top: 2rem;
    font-size: 2rem;
    color: #808080;
    text-transform: uppercase; }
  .main-content__others__other {
    margin-top: 2rem;
    background-color: #fff;
    box-shadow: 0px 0px 62px -22px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem; }
    .main-content__others__other--image {
      margin-top: 1rem;
      width: 8rem;
      border-radius: 50%;
      padding-left: 5px;
      height: 8rem;
      margin-bottom: 1rem; }
    .main-content__others__other__head {
      padding-left: 1rem; }
      .main-content__others__other__head--heading {
        font-size: 2.5rem; }
      .main-content__others__other__head--text {
        color: #808080;
        font-size: 1.5rem;
        word-spacing: 3px; }
    .main-content__others__other--payment {
      color: #41f3f2;
      font-size: 5rem;
      padding-left: 25rem; }
