.meanus{
    grid-row: 2 / 2;
    grid-column: 4 / - 1;
    border-bottom: 1px solid $color-grey-light;

    &__meanu{
        list-style: none;
        display: flex;
        justify-content: space-between;
        margin: 1rem 3rem 0 2rem;;
        font-size: 2rem;
        font-weight: 600;
        align-content: center;

        &--img{
            height: 1.4rem;
            width: 2rem;
            fill: $color-light-yellow;
        }
    }
}